
.dis-flex{
    display: flex;
}
.js-center{
    justify-content: center;
}

.box-hidden{
    overflow-y: hidden;
}
.box-scroll{
    overflow-y: scroll;
}

/*height*/
.h-100vh{
    height: 100vh;
}
.h-5px{
    height: 5px;
}
.h-90p{
    height: 90%;
}
.h-80p{
    height: 80%;
}

/*width*/
.w-90p{
    width: 90%;
}
.w-80p{
    width: 80%;
}

/*margin*/
.mg-center{
    margin: 0 auto;
}

/*padding*/
.pd-5-0px{
    padding: 5px  0;
}