@import '__global.css';
@import "App.css";
ul{
    list-style: none;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.box-style{
    position: fixed;
    top: 30%;
    width: 200px;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
    z-index: 1000;
}
.box-show{
    left: -200px;
}
.ul-style li{
    margin: 4px 0;
    padding: 10px 0 10px 40px;
    background: #dbdbdb;
}
.icon-style{
    position: absolute;
    top: 50%;
    left: 200px;
    font-size: 24px;
}
